{% load staticfiles %}
{% load thumbnail %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/portfolio.css' %}">
<title>Welcome to my Portfolio</title>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
