{% extends 'portfolio/base.html' %}

{% block content %}

    {% if study %}
    <h1>{{ study.title }}</h1>
    <img src="{{ MEDIA_URL }}{{ study.picture }}" /><br/>
    <p>{{ study.description|safe }}</p>
    {% else %}
    <p>No studies here, bud.</p>
    {% endif %}

{% endblock %}
