{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load portfolio_tags %}

{% block content %}
{% if studies %}
<ul>
    {% for study in studies %}
    <li>
       {% thumbnail study.picture "100x100" as pic %}
       <img src="{{ MEDIA_URL }}{{ pic.url }}" />
       {% empty %}
       [ No Image ]
       {% endthumbnail %}
       <a href="{% url 'portfolio:detail' study.id %}">{{ study.title }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Images for our portfolio</h2>

{% portfolio_images %}


{% endif %}
{% endblock %}
